@charset "utf-8";
/* CSS Document */
html{
	padding: 10px;
	background: #ddd;
}
#container{
	min-height: 1000px;
	background: #fff;
	padding: 30px;
}
body,footer{
	margin: 0 auto;
	width: 1500px;
}
header,footer{
	height: 120px;
	background: #ff8533;
}
header a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
	float: right;
	margin: 10px;
	color: #000;
	position: relative;
	top: 80px;
}
header a:hover,footer a:hover{
	text-decoration: underline;
}
#logo{
	position: relative;
	top: 10px;
	left: 20px;
}
#nav{
	height: 40px;
	background: #666;
}
#nav a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	float: left;
	color: #fff;
	margin: 10px 90px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
}
#box_link{
	height: 130px;
}
#link{
	width: auto;
	height: 100px;
	background: #ff8533;
	float: left;
	margin: 15px;
}
#link a{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	float: left;
	color: rgba(215,9,9,1.00);
	text-decoration: none;
	font-size: 33px;
	margin: 30px 15px;
}
#link a:hover{
	text-decoration: underline;
	font-style: oblique;
}
#categoria{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	margin: 20px;
}
table{
	max-width: 1440px;
	border-spacing: 25px;
	class: center;
	summary: abbigliamento donna;
}
td{
	padding: 20px;
	background: #ff8533;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
strong{
	text-transform: uppercase;
}
.bottone{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    padding: 7px 7px;
	font-size: 16px;
}
#scritte a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	margin: 20px;
	color: #000000;
	text-decoration: none;
}
#scritte a:hover{
	text-decoration: underline;
}
footer a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
	margin: 20px;
	color: #000;
	position: relative;
	top: 50px;
	left: 400px;
}
